<a href="https://colab.research.google.com/github/p-ai-org/p-music/blob/main/eda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
#import seaborn as sns

path = "/rym_top_5000_all_time.csv"
album_data = pd.read_csv(path)
#album_data.head()
album_data.dtypes

Ranking              float64
Album                 object
Artist Name           object
Release Date          object
Genres                object
Descriptors           object
Average Rating       float64
Number of Ratings     object
Number of Reviews      int64
dtype: object

In [2]:
#convert number of ratings into float
album_data['Number of Ratings'] = album_data['Number of Ratings'].str.replace(',', '').astype('float64')
album_data['Number of Ratings'].head()

0    70382.0
1    48662.0
2    44943.0
3    58590.0
4    44206.0
Name: Number of Ratings, dtype: float64

In [5]:
import seaborn as sns
import matplotlib.pyplot as plt

heatmap_data = album_data.select_dtypes(include = "number")
heatmap_data.head()

   Ranking  Average Rating  Number of Ratings  Number of Reviews
0      1.0            4.23            70382.0               1531
1      2.0            4.29            48662.0                983
2      3.0            4.30            44943.0                870
3      4.0            4.21            58590.0                734
4      5.0            4.27            44206.0                379

In [9]:
heatmap = heatmap_data.corr()
heatmap.style.background_gradient()